@import "fonts";
@import "variables";

.my-plants{
    
    &__user{
        display: grid;
        grid-template-columns: 1fr auto;
        margin: 0 0 1.5rem 0;

        &__details{
            grid-column: 1/2;
            justify-self: flex-end;
            align-self: center;
            text-align: right;
            margin: 0 1rem 0 0;

            &__nickname{
                font-size: 1.7rem;
                line-height: 2rem;
            }
            &__plantcount{
                font-size: 1rem;
            }
        }
        img{
            grid-column: 2/3;
            display: flex;
            justify-self: end;
        }
    }

    &__h1{
        margin: 2rem 0;
        text-align: center;
    }

    &__allPlants {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // justify-content: space-between;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        // width: 94%;
        width: 100%;
        margin: 0 3%;
    
        &__plant {
            text-decoration: none;
            margin: 0 1rem;

            min-width:20rem;
            max-width: 23rem;
            height: auto;
            
            &-image {
                width: 100%;
                object-fit: cover;
            }

            &__nickname{
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
                margin: 0.7rem 0 0.1rem;
                text-decoration: none;
                color: $color__black;
            }

            &__love{
                margin: 1rem 0;
            }

            &__water{
                margin: 0.5rem 0 1rem 0;
                
            }

            &--desc{
                margin: 0.3rem 0;
                font-size: 1rem;
                line-height: 1.2rem;
                text-align: center;

                &:first-of-type{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    margin: 0;
                }

                &:last-child{
                    margin: 0.3rem 0 5rem 0;
                }
            }

            a:link {
                text-decoration: none;
            }
        }
    }
}

.links--dif.dashboard-links {
    display: flex;
    justify-self: center;
}

// Media Queries
@media only screen and (max-width:979px){
    .my-plants{
    
        &__allPlants {
            justify-content: center;
        }
    }
}