<section class="page-content home">
<h1 class="home__h1">Hey du!</h1>

 <div class="home__pic">
    <%= image_tag('plantpal_logo.png', type: 'image/png') %>
</div> 

<h2 class="home__h2">Erwecke deinen grünen Daumen mit PlantPal</h2>

<p class="home__p">Wir helfen dir, dich richtig um deine Hauspflanzen zu kümmern. 
Füge deine Lieblinge einfach in deinem Profil hinzu und los gehts! 
Du erhältst Erinnerungen deine Pals zu gießen, sie in ein sonniges/schattiges Plätzchen zu stellen 
und ihnen Liebe und Aufmerksamkeit zu schenken. Gärtnern war noch nie so einfach!</p>
</section>
