

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>getUserMedia Demo</title>
    <style>
      h1
      {
        text-align: center;
      }
         
      .buttons-wrapper
      {
        text-align: center;
      }

      .hidden
      {
        display: none;
      }

      #video
      {
        display: block;
        width: 100%;
      }

      #capture{
        color: #8CAE68; 
        background: transparent;
        border: 2px solid #8CAE68;
        border-radius: 6px;
        padding: 16px 32px;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
      }

      #capture:hover {
      background-color: #8CAE68;
      color: white;
      }
      
    </style>
  </head>
  <body>
    <h1>Pages#picture</h1>
    <button id="capture">Capture</button>
    <script>

        
      
    </script>
  </body>
</html>