<section class="page-content">
<h1>Pal bearbeiten</h1>

<%= render 'form', plant: @plant %>

<div class="links">
    <%= link_to 'zurück', plants_path %> |
    <%= link_to 'Pal anzeigen', @plant %>
</div>
</section>