<section class="page-content edit-plant">
<h1>Pal bearbeiten</h1>

<%= render 'form', plant: @plant %>

<p class="links">
    <%= link_to 'zurück', dashboard_path %> |
    <%= link_to 'Pal anzeigen', @plant %>
</p>
</section>