<section class="page-content new-plant">
<h1 class="new_plant__h1">Neuen Pal hinzufügen</h1>

<%= render 'form', plant: @plant %>

<div class="links">
    <%= link_to 'zurück', dashboard_path %>
</div>
</section>