<section class="page-content new-plant">
<h1 class="new_plant__h1">Ein neuer Pal in deiner Familie</h1>

<%= render 'form', plant: @plant, edit: false %>

<div class="links">
    <%= link_to 'zurück', dashboard_path %>
</div>
</section>