<section class="page-content new-plant">
<h1 class="new_plant__h1">Neue Pflanze</h1>

<%= render 'form', plant: @plant %>

<div class="links">
    <%= link_to 'Zurück', plants_path %>
</div>
</section>