@import "fonts";
@import "variables";

body {
  background-color: $color__white;
  color: $color__black;
  font-family: Mukta, verdana, sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
}

p, ol, ul, td {
  font-family: Mukta, verdana, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

a {
  color: $color__black;

  &:visited {
    color: $color__green--dark;
  }

  &:hover {
    color: $color__green--dark;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $color__green--dark;
}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;

//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px -7px 0;
//     background-color: #c00;
//     color: #fff;
//   }

//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }

label {
  display: block;
}

.navigation{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #8CAE68;
  color: $color__white;
  display: grid;
  grid: 1fr 1fr;

  &__logo{
    grid-column: 1/2;
    margin: 1.2rem 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 2rem;
  }

  &__nav{
    grid-column: 2/3;
    justify-self: end;
    margin-right: 2rem;
    text-transform: uppercase;

    &__ul{
      list-style: none;
      
      &__li{
        display: inline-block;
        margin: 1.2rem 0.8rem;
        
        a{
          text-decoration: none;
          color: $color__white;
          
          &:visited {
            color: $color__green--dark;
          }
          
          &:hover {
            color: $color__green--dark;
          }
        }
      }
    }
  }
}

h1{
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.page-content{
  margin: 2.5rem;
}

// Forms
.new_user{

  &__container{
    margin: 2rem 0;
    width: 20rem;
    height: auto;
    
    label{
      color: $color__black;
      width: 100%;
      font-size: 1.5rem;
      line-height: 2.75rem;
      font-weight: 400;
    }
    input{
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0.5rem 0;
      border-bottom: 2px solid $color__black;
      box-shadow: none;
      color: #111;
      font-size: 1rem;
      font-weight: 300;

      &:invalid {
        outline: 0;
        color: $color__pink--dark;
        border-color: $color__pink--dark;
      }
      &:focus,
      &:valid {
        border-color: $color__green--light;
      }
    }
  }

  &__mail{
    margin-top: 1.5rem;
  }

  &__pw{
    label{
      display: inline-block;
      width: fit-content;
    }
    &__p{
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 300;
      display: inline-block;
      width: fit-content;
    }
    input{
      display: block;
    }
  }
  &__pw-confirmation{
  }
  &__remember-me{
    
    label, input{
      display: inline-block;
      width: fit-content;
      color: $color__black;
      font-size: 1.2rem;
    }
  }
  &__submit-button{
    input{
      background-color: $color__green--light;
      color: $color__white;
      padding: 0.5rem 0.8rem;
      transition: 300ms ease-in-out;
      text-transform: uppercase;
      border-radius: 2px;

      &:hover{
        background-color: $color__green--dark;
      }
    }
  }
}