@import "fonts";
@import "variables";
  
  .link-to-login{
    margin: 2rem 0;
  
    p{
      a{
        color: $color__green--dark;
        text-decoration: none;
        transition: 50ms ease-in-out;
    
        &:hover{
          border-bottom: 2px solid $color__green--dark;
        }
      }
    }
  }