// Colors
$color__white: #ffffff;
$color__black: #000000;
$color__grey--light: #E8E4E1;
$color__green--dark: #004900;
$color__green--light: #8CAE68;
$color__blue--dark: #004B87;
$color__blue--medium: #5FA8D3;
$color__blue--light: #CAE9FF;
$color__yellow--dark: #FFCD00;
$color__yellow--light: #FFCF3F;
$color__pink--dark: #B93E78;
$color__pink--medium: #D991BA;
$color__pink--light: #EBB9DF;