<section class="page-content">
<h2>Hey <%= @email %>!</h2>

<p>Über folgenden Link kannst du deine E-Mail Adresse bestätigen: </p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, confirmation_token: @token) %></p>
</section>