<section class="page-content">
<h2>Hey <%= @email %>!</h2>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Deine E-Mail Adresse wird zu <%= @resource.unconfirmed_email %> geändert.</p>
<% else %>
  <p>Deine E-Mail Adresse wurde geändert zu: <%= @resource.email %>.</p>
<% end %>
</section>