<section class="page-content">
<h2>Hey <%= @resource.email %>!</h2>

<p>EinLink zur Änderung deines Passwortes wurde angefragt. Über den unten stehenden Link kannst du es ändern.</p>

<p><%= link_to 'Passwort Ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Solltest du das nicht gewollt haben, bitte ignoriere diese E-Mail.</p>
<p>Dein Passwort wird sich nicht ändern solang du es nicht über den oben stehenden Link anpasst.</p>
</section>