<section class="page-content">
<p>Hey <%= @resource.email %>!</p>

<p>Dein Account wurde aufgrund einer exzessiven Anzahl an Login Versuchen gesperrt.</p>

<p>Über diesen Link kannst du ihn wieder entsperren:</p>

<p><%= link_to 'Account entsperren', unlock_url(@resource, unlock_token: @token) %></p>
</section>